@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.landing-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  background-color: #0b151f;
  background: url("https://raw.githubusercontent.com/JordanWheelerDev/Resumify-v2/main/imgs/modernbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing-header h1 {
  color: white;
  font-size: 62px;
}

.landing-header span {
  background: -webkit-linear-gradient(180deg, #958fc5, #b0d7fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-header h2 {
  color: white;
  font-size: 44px;
}

.page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  background-color: #0b151f;
  background: url("https://raw.githubusercontent.com/JordanWheelerDev/Resumify-v2/main/imgs/modernbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-header h1 {
  color: white;
  font-size: 62px;
}

.page-header span {
  background: -webkit-linear-gradient(180deg, #958fc5, #b0d7fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-header h2 {
  color: white;
  font-size: 44px;
}

.quiz-nav {
  background-color: #0b151f;
}

.quiz-nav .navbar-brand {
  color: white;
  font-weight: bold;
}

.quiz-nav .nav-link {
  color: white;
}

.landing-header h1 {
  color: white;
  font-size: 62px;
}

.landing-header span {
  background: -webkit-linear-gradient(180deg, #958fc5, #b0d7fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-header h2 {
  color: white;
  font-size: 44px;
}

.tt-button-primary-otl {
  background-color: #0b151f;
  border: 2px solid #958fc5;
  color: white;
  border-radius: 3px;
  padding: 10px 10px;
  transition: all 0.3s ease;
}

.tt-button-primary-otl:hover {
  background-color: #958fc5;
  border: 2px solid #0b151f;
  color: white;
}

.tt-button-secondary-otl {
  background-color: #0b151f;
  border: 2px solid #b0d7fe;
  color: white;
  border-radius: 3px;
  padding: 10px 10px;
}

.category-title {
  color: #0b151f;
  font-weight: bold;
  font-size: 34px;
}

.cat-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.cat-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.cat-overlay h4 {
  font-size: 24px;
}

.cat-hockey {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/hockey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-baseball {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/baseball.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-football {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/football.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-basketball {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/basketball.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-soccer {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/soccer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-golf {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/golf.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-tennis {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/tennis.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-rock-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/rock-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-hip-hop-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/hip-hop-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-rap-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/rap-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-jazz-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/jazz-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-classical-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/classical-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-electronic-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/electronic-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-pop-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/pop-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}

.cat-country-music {
  width: 100%;
  height: 150px;
  background: url("../img/trivia/country-music.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
}
